<!doctype html>
<html amp lang="en">
<head>

    <meta charset="utf-8">

    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <title>AMP Live Video Blog</title>

    <link rel="canonical" href="http://localhost:3000/" />

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>

        <% include style.css %>

    </style>

</head>
<body>

<div class="header">

    <h1>FabHotels AMP Page</h1>

</div>

<amp-img src="/img/welcome.jpg" alt="Welcome" height="400" width="800"></amp-img>

<p><%= tagline %></p>

<footer>

    <% include ../partials/footer %>

</footer>

</body>

</html>