body {
    font-family: 'Roboto', sans-serif;
    background: #EDEDED;
}
.header {
    color: #fff;
    padding: 20px  20px;
    top: 0px;
    width: 100%;
    background: #E53935;
    text-align:center;
}